/* Salesforce recommends applying styling in CSS using:
Element styling, Class Styling, and Pseudo-class styling */

p{
    color:green;
    font-size: 30px;
    border:1 px solid red;
}

.user {
    color:blue;
    font-size: 30px;
}

.user:hover {
    font-size: 60px;
    color:blueviolet;
}